node-red.json
[{"id":"dff5a6eecb55a748","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"eb94ea74b11f3010","type":"api-call-service","z":"dff5a6eecb55a748","name":"prog pool lights white","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"wemos/esp-e8:db:84:e0:a0:2b/in\",\"payload\":\"{\\\"programming\\\":[\\\"on\\\",\\\"White\\\"]}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":720,"wires":[[]]},{"id":"996dfe8ef8909380","type":"vsh-virtual-device","z":"dff5a6eecb55a748","name":"Pool Light","topic":"echo_pool_lights","connection":"b0a822a8.f54ec","template":"COLOR_CHANGING_LIGHT_BULB","passthrough":false,"diff":false,"filter":false,"x":500,"y":560,"wires":[["78f204a79373e67a"]]},{"id":"78f204a79373e67a","type":"switch","z":"dff5a6eecb55a748","name":"on or off or colors or white","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.directive = \"TurnOn\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.directive = \"TurnOff\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.directive = \"SetColor\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.directive = \"SetColorTemperature\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":730,"y":560,"wires":[["a455dfc17fa2426a"],["4b18a4342deaee09"],["9ce1fe388759b9f3"],["eb94ea74b11f3010"]]},{"id":"9ce1fe388759b9f3","type":"switch","z":"dff5a6eecb55a748","name":"color switch","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload.color_hex = \"#FFBFCC\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.color_hex = \"#00FF00\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.color_hex = \"#0000FF\"","vt":"jsonata"},{"t":"jsonata_exp","v":"payload.color_hex = \"#FF0000\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":4,"x":1010,"y":580,"wires":[["84f14751e1d9d90a"],["ccfe1c43ceaa351c"],["612955fa31b2c3ef"],["4032d40db1b7e45e"]]},{"id":"4032d40db1b7e45e","type":"api-call-service","z":"dff5a6eecb55a748","name":"prog pool lights red","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"wemos/esp-e8:db:84:e0:a0:2b/in\",\"payload\":\"{\\\"programming\\\":[\\\"on\\\",\\\"Red\\\"]}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":660,"wires":[[]]},{"id":"612955fa31b2c3ef","type":"api-call-service","z":"dff5a6eecb55a748","name":"prog pool lights blue","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"wemos/esp-e8:db:84:e0:a0:2b/in\",\"payload\":\"{\\\"programming\\\":[\\\"on\\\",\\\"Blue\\\"]}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":600,"wires":[[]]},{"id":"ccfe1c43ceaa351c","type":"api-call-service","z":"dff5a6eecb55a748","name":"prog pool lights green","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"wemos/esp-e8:db:84:e0:a0:2b/in\",\"payload\":\"{\\\"programming\\\":[\\\"on\\\",\\\"Green\\\"]}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":540,"wires":[[]]},{"id":"84f14751e1d9d90a","type":"api-call-service","z":"dff5a6eecb55a748","name":"prog pool lights pink","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"wemos/esp-e8:db:84:e0:a0:2b/in\",\"payload\":\"{\\\"programming\\\":[\\\"on\\\",\\\"Pink\\\"]}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":480,"wires":[[]]},{"id":"4b18a4342deaee09","type":"api-call-service","z":"dff5a6eecb55a748","name":"pool lights off","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.pool_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":500,"wires":[[]]},{"id":"a455dfc17fa2426a","type":"api-call-service","z":"dff5a6eecb55a748","name":"pool lights on","server":"48db2cad.a7e544","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.pool_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":970,"y":440,"wires":[[]]},{"id":"48db2cad.a7e544","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"b0a822a8.f54ec","type":"vsh-connection","name":"EMAIL","port":"8883","accessTokenExpiry":"0","debug":false,"backendUrl":"url","lwaClientId":"clientid"}]